.container {
  width: 100vw;
  height: 57vh;
}

.slideImgWrapper {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.slideImg {
  width: 25vw !important;
}

.swiper2 {
  width: 40vw !important;
  height: 50vh !important;
  margin-top: 0vh;
}