/* Zeroing */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  /* border-box -   width = border + padding + content-width (div width is independent from content-width) */
}

a {
  text-decoration: none;
}


ul,
ol,
li {
  list-style: none;
  /* none - removes bullet/points/svg-images signs from li elements of ul/ol */
}

img {
  vertical-align: middle;
  /* top - to vertically position an image in a line of text */
}
body {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(0deg, rgba(6,23,47,1) 0%, rgba(13,111,131,1) 33%, rgba(21,168,199,1) 67%, rgba(255,255,255,1) 100%);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
